.footer {
    padding: 130px 0 50px;

    &-row {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        margin-bottom: 5px;
        color: #2e2e2e;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: normal;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        margin-top: 20px;
        color: #535353;
        line-height: normal;
        &-logo {
            margin-right: 9px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__copyright {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        text-align: center;
        border-top: 1px solid #dddddd;
        padding-top: 35px;
        margin-top: 80px;
        color: #b0b5b4;
        font-size: 1.8rem;
        line-height: normal;
    }
}
