@use '../base/variables' as var;

.header {
    margin-top: 52px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar {
        &__list {
            display: flex;
        }

        &__link {
            display: inline-block;
            text-align: center;
            color: #2f3a3b;
            padding: 10px 20px 14px;

            &::before {
                content: attr(title);
                font-weight: 600;
                display: block;
                height: 0px;
                overflow: hidden;
                visibility: hidden;
            }

            &:hover {
                font-weight: 600;
            }
        }

        &__active {
            font-weight: 600;

            &::before {
                content: attr(title);
                font-weight: 600;
                display: block;
                height: 0px;
                overflow: hidden;
                visibility: hidden;
            }
        }
    }

    .action {
        display: flex;
        align-items: center;
    }
    .action__sign-in {
        color: #494949;
        line-height: 48px;
        cursor: pointer;
        padding: 0px 24px;
    }

    .action__sign-up {
        --height: 48px;
        min-width: 108px;
        color: var.$primary-color;
        background: transparent;
        font-size: 1.6rem;
        border-radius: 6px;
        box-shadow: none;
        transition: 0.25s ease-in;
        &:hover {
            color: #fff;
            background: var.$primary-color;
        }
    }
}
